@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&display=swap');

.find-us {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.find-us-title {
    font-size: 35px;
    color: #214169;
    align-self: center;
    font-family: 'Amaranth', sans-serif;
}

.contact-info {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 25px 0;
}

.info-box {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 6px 50px;
    border: 2px solid #3498db;
    border-radius: 25px;
    font-size: 15px;
    color: #2c3e50;
    transition: 0.3s
}

.info-box:hover {
    background: #3498db;
    color: white;
}

.find-us-icon {
    color: #3498db;
    font-size: 1px;
    width: 20px;
    height: 20px;
}

.info-box:hover .find-us-icon {
    color: white;
}

.contact-image {
    width: 75%;
    height: 400px;
    align-self: center;
    margin-bottom: 60px;
}
