@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

.about-text {
    display: flex;
    flex-direction: column;
}

.about-image {
    position: relative;
    margin-right: 70px;
}

.about-doc-image {
    width: 420px; 
    border-radius: 10px;
}

.female-wrapper {
    position: absolute;
    bottom: -30px;
    right: -160px;
    width: 320px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.female-image {
    width: 100%;
    height: auto;
}

.about-title {
    font-size: 50px;
    color: #214169;
    font-family: 'Amaranth', sans-serif;
}

.sub-title {
    font-size: 18px;
    color:#61ADF8;
    margin-bottom: 35px;
    font-family: 'Agbalumo', sans-serif;
}

.content-head {
    font-size: 17px;
    color: #214169;
    margin-bottom: 12px;
    font-family: 'Amaranth', sans-serif;
}

.content-paragraph {
    font-size: 13px;
}
