
.values {
    padding: 50px 20px;
}

.values-title {
    font-size: 2rem;
    color: #2c3e50;
    margin-bottom: 60px;
    text-align: center;
}

.values-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 25px;
    justify-items: center;
    align-items: center;
    max-width: 900px;
    margin: auto;
    position: relative;
}

.value-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 270px;
    line-height: 1.5;
    text-align: center;
}

.value-card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.value-header {
    font-weight: bold;
    font-size: 1.2rem;
    color: #2c3e50;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.value-header img {
    background-color: #0071FF;
    border-radius: 50%;
    padding: 3px;
}

.value-card.active .value-header {
    background: #0056b3;
    color: white;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 20px;
}

.value-card:nth-child(1) { grid-column: 1; grid-row: 1; } 
.value-card:nth-child(2) { 
    grid-column: 2; 
    grid-row: 1; 
    transform: translateY(-20px); 
} 
.value-card:nth-child(3) { grid-column: 3; grid-row: 1; }
.value-card:nth-child(4) { grid-column: 2; grid-row: 2; } 
.value-card:nth-child(5) { grid-column: 3; grid-row: 2; } 

